# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Flask instance folder
instance/

# MySQL dumps
*.sql

# Logs and misc
*.log

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
